<div id="features" >

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h2 class="features-title">Vous avez un <br/><span>projet</span> ?</h2>
                <p>
                    Saige est un hub de développement de projets qui vous permet de
                    rassembler tous les éléments dont vous avez besoin pour
                    réaliser vos projets. C’est la plateforme idéale qui vous
                    permettra de concrétiser  votre projet d’entreprise. De l’idée
                    à la réalisation en passant par les recherches et conceptions
                    nous sommes là pour vous accompagner. Faites-nous confiance.
                </p>

                
            </div>
            <div class="col-md-3 text-center big-feature-ml">
                <div class="features-item">
                    <img src="assets/img/home/lightbulb.svg"  width="50%" height="200">
                    <h3 style="color: #0061F2">Idée</h3>
                    <div class="overlay">
                       <div class="text">
                           <p>
                               Soumettez à validation vos projets et obtenez des propositions et ou des apports en complément. L’avenir appartient aux hommes d’idées.
                       </div>
                     </div>
                </div>
                
            </div>
            <div class="col-md-3 text-center">
                <div class="features-item">
                    <img src="assets/img/home/to-do-list.svg"  width="50%" height="200">
                    <h3 style="color: #0061F2">Plan</h3>
                    <div class="overlay">
                       <div class="text">
                           <p>
                               Notre équipe de managers vous aide dans l’élaboration et la mise en place de votre business plan. Envoyez les ici et recevez les touches de maitre de nos experts.
                       </div>
                     </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="features-item">
                    <img src="assets/img/home/wallet.svg" width="50%" height="200">
                    <h3 style="color: #0061F2">Financement</h3>
                    <div class="overlay">
                       <div class="text">
                           <p>
                               Notre communauté est votre atout. Avec une « démographie digitale » de 1.000.000 de membres, veuillez à recevoir en temps réel et avec enthousiasme les réactions
                       </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    
</div>