<div id="partener-block">
    <div class="container-fluid">

        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>Nos partenaires</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12 text-center mx-auto mt-5">
                <div id="carouselPartenersControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                
                      <div class="carousel-item text-center active ">
                        <img class="" src="assets/img/home/parteners/haier.PNG" alt="Second slide">
                        <img class="" src="assets/img/home/parteners/feeback-infera.PNG" alt="Third slide">
                        <img class="" src="assets/img/home/parteners/resi.PNG" alt="Third slide">
                        <img class="" src="assets/img/home/parteners/telkom.PNG" alt="Third slide">
                      </div>
                     
                     
                      
                      
                      <div class="carousel-item">
                        <img class="" src="assets/img/home/parteners/pai.PNG" alt="Third slide">
                        <img class="" src="assets\img\home\parteners\deme.PNG" alt="Third slide">
                        <img  src="assets/img/home/parteners/hutchen.png" alt="First slide">
                        <img class="" src="assets/img/home/parteners/kci.PNG" alt="Third slide">
                      </div>

                    

                     

                     
                    </div>
                    <a class="carousel-control-prev" href="#carouselPartenersControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselPartenersControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="false"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                <!--<img src="home/parteners_image.png" width="80%"/>-->
            </div>
        </div>

    </div>
</div>







<div id="page-footer">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-3 text-center my-auto">
                <img src="assets/img/home/saige_logo_description.svg" width="75%"/>
            </div>

            <div class="col-md-3 text-center">
                <h5>-</h5>
                <p class="mt-5">
                  <a  (click)="onAboutClicked()" style="cursor: pointer;"> A propos de nous</a></p>
                <p >
                  <a (click)="onContactClicked()" style="cursor: pointer;">Nous contacter</a></p>
                
            </div>

            <div class="col-md-3 text-center">
              <div>
                <img src="assets/img/play-google.png" height="50" width="150"/>
              </div>
              <div class="mt-5">
                <img src="assets/img/app-store.png" height="50" width="150"/>
              </div>
              <div class="mt-5">
                <div style="display: flex; flex-direction: row; justify-content: center">
                  <img src="assets/img/facebook.svg" height="25" width="25"/>
                  <img src="assets/img/instagram.svg" style="margin-left: 10px" height="25" width="25"/>
                  <img src="assets/img/home/twitter.svg" style="margin-left: 10px" height="25" width="25"/>
                  <img src="assets/img/home/youtube.svg" style="margin-left: 10px" style="margin-left: 10px" height="25" width="25"/>
                </div>
              </div>
            </div>

            

            <div class="col-md-3 my-auto text-left">
                <h5>Abonnez vous à notre<br/> newsletter</h5>
                <hr/>

               <form>
                    <div class="form-group">
                        <label for="newsletterInput">Email</label>
                        <input type="email" class="form-control" id="newsletterInput">
                    </div>
                    <div class="form-group mt-5">
                        <button class="btn btn-secondary" type="submit">Souscrire</button>
                    </div>
               </form>
            </div>


        </div>
    </div>
</div>
