html, body {
	margin: 0;
	padding: 0;
	background-color: #FEFEFE;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#container {
		margin-top: 80px;
		background-color: white;
	}
	
	#banner {
		background: linear-gradient(
	    rgba(0, 0, 255, 0.5), 
	    rgba(0, 0, 255, 0.9)
	    ), url("../../assets/img/investors.jpg");
		background-size: cover;
		height: 200px;
	}

	
	#investors-type {
		position: relative;
		top: -100px;
		display: flex;
		padding-left: 10%;
		padding-right: 10%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.investor-item-container {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		
	}



	.investor-item {
		border-radius: 10px;
		padding: 10px;
		border: 3px solid blue;
		background-color: white;
		color: black;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.investor-item:hover {
		background-color: blue;
		color: white;
	}


	.investor-item span {
		font-size: 1.7em;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}*/

/* Large devices (laptops/desktops, 992px and up)*/
@media only screen and (min-width: 992px) {
	#container {
		margin-top: 80px;
		background-color: white;
	}

	#banner {
		background:
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.65)
		), url("../../assets/img/investors.jpg");
			background-size: contain;
			height: 400px;
	}

	#investors-type {
		position: relative;
		top: -100px;
		display: flex;
		padding-left: 10%;
		padding-right: 10%;
		flex-direction: row;
	}

	.investor-item-container {
		padding: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		flex: 1;
		
	}



	.investor-item {
		border-radius: 10px;
		padding: 10px;
		border: 3px solid blue;
		background-color: white;
		color: black;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.investor-item:hover {
		background-color: blue;
		color: white;
	}


	.investor-item span {
		font-size: 1.7em;
	}
	



	
}



/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}*/



