<app-saige-second-header></app-saige-second-header>
<div id="container">
    <div id="banner">

    </div>

    <div id="investors-type">
        <div class="investor-item-container">
            <div class="investor-item">
                <img src="assets/img/private_inv.png" width="100" height="100" style="border-radius: 50%;" />
                <span>Privés</span>
                <p>
                    Les investisseurs privés qui financent vos projets.
                </p>
            </div>
        </div>
        <div class="investor-item-container">
            <div class="investor-item">
                <img src="assets/img/public_inv.png" style="border-radius: 50%;" width="100" height="100"/>
                <span>Publics</span>
                <p>
                    La liste des investisseurs publics qui financent vos projets.
                </p>
            </div>
        </div>
        <div class="investor-item-container">
            <div class="investor-item">
                <img src="assets/img/bot_inv.png" width="100" height="100" style="border-radius: 50%;"/>
                <span>BOT</span>
                <p>
                    Le BOT (Build, Operate, Transfer) consiste à faire financer
                    les projets d’investissement 
                </p>
            </div>
        </div>
        <div class="investor-item-container">
            <div class="investor-item">
                <img src="assets/img/ppt_inv.png" width="100" height="100" style="border-radius: 50%;"/>
                <span>PPT</span>
                <p>
                    Nous vous permettons en tant qu’entreprises privées,
                    de nouer des relations d’affaires avec les
                    professionnels du secteur public.
                </p>
            </div>
        </div>

    </div>
</div>
<app-saige-summary></app-saige-summary>
<app-footer></app-footer>