<div id="feedback" style="margin-top: 20vh;">
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>Témoignages</h1>
                <p>Ils nous ont fait confiance et leur projet a vu le jour.</p>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-md-4 mx-auto  mt-5">

                <div class="feeback-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <img  src="assets/img/home/background_boss.jpg" class="rounded-image"/>
                            </div>
                            <div class="col-md-9">
                                <h3 class="feedback-name">Y. KIYA</h3>
                                <p>
                                    Saige m'a beaucoup en ce qui conerne la collecte de 
                                    fond pour mon projet
                                </p>
                                <p class="text-right">
                                    <a href="#!">Voir mon projet</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>