<app-saige-second-header></app-saige-second-header>
<div id="container">


    <div id="container-fluid">
        <div class="row">
            <a href="#"></a>
            <div class="col-md-9 mx-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 pt-5">
                            <img src="assets/img/we_are.PNG" width="100%"/>

                            <h1 class="mt-3">Présentation de l'entreprise</h1>

                            
                            <p class="mt-5">
                                Saige est une entreprise mondiale spécialisée en gestion de projet et d’entreprises
                                offrant des services professionnels entièrement intégrés et un acteur de premier
                                plan en matière de propriété d’infrastructures. À partir de bureaux situés dans l’espace CEDEAO,
                                les membres du personnel de Saige sont fiers de bâtir l’Afrique de demain. Nos équipes et partenaires
                                fournissent des solutions couvrant le cycle complet des projets, notamment dans les domaines 
                                de l’investissement de capital, des services-conseils, de la conception, de l’ingénierie, de 
                                la gestion de construction, des investissements de maintien et de l’exploitation et de l’entretien,
                                pour les clients dans les secteurs Pétrole et gaz, Mines et métallurgie, Infrastructures, 
                                Énergie propre, Énergie fossiles et ICGP (Ingénierie, conception et gestion de projets).
                                L’innovation, La vision et l’éthique associées à des technologies et des pratiques de pointe ont permis la réalisation
                                de multiples réussites dans un éventail de projets ; faisant de la Saige un incontournable centre d’affaire en Afrique.
                            </p>

                            <h3 class="mt-5">VISION</h3>

                            <p class="mt-5">
                                Conjuguer êtres et avoirs pour un développement harmonieux :
                            </p>

                            <p>
                                Devenir le leader africain en affaires, gestion d’entreprises, et en financement
                                des projets de développement en Afrique et ainsi donner un sens à la performance.
                                Ce souhait s’intègre dans la vision stratégique des fondateurs,
                                pour qui chaque affaire constitue une opportunité de joindre des êtres et des avoirs.
                                En suivant cette vision nous plaçons ainsi l’humain et son développement au cœur de nos projets
                            </p>

                            <p>
                                Pour accomplir cela, nous :
                            </p>

                            
                                <ul>
                                    <li>
                                        <p>
                                            Agirons pour le bien général des pays et des communautés dans lesquelles nous avons le privilège d’opérer
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            Fournirons l’environnement le plus
                                            sûr possible, un sentiment d’appartenance et des
                                            possibilités de carrières gratifiantes à nos employés
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            Atteindrons le niveau le plus élevé possible de satisfaction
                                            de notre clientèle et de nos partenaires
                                        </p>
                                    </li>

                                    <li>
                                        <p>
                                            Optimiserons le retour sur investissement de nos actionnaires
                                        </p>
                                    </li>
                                </ul>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
