<div id="banner">
		
    <div id="appeal-data">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="saige-name">SAIGE</h1>
                    <p id="saige-text">
                        Société Africaine d'Investissement<br/> et de Gestion 
                        d'Entreprises
                    </p>
                </div>
                
            </div>
        </div>
        
    </div>

    <div id="data-slider">
        <div id="slider-container">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">

                                <div class="row-item">
                                      <div class="col-md-6 my-auto">
                                          <h1 class="slider-item-title">Nous sommes SAIGE</h1>
                                          <p class="slider-item-text">
                                            La plateforme Saige accompagne les entreprises dans la 
                                            réalisation de leur projet. Nous vous accompagnons 
                                            sur le plan financier, comme sur le plan de gestion. 
                                            Nous vous aidons à donner corps à votre projet.
                                          </p>
                                          </div>
                                      <div class="col-md-6">
                                          <img src="assets/img/home/saige_logo.svg" width="400" height="300">
                                      </div>
                                  </div>

                            </div>
                            <div class="carousel-item">

                                <div class="row-item">
                                      <div class="col-md-6 my-auto">
                                          <h1 class="slider-item-title">Vous avez un projet?</h1>
                                          <p class="slider-item-text">
                                            Saige est un hub de développement de projets qui 
                                            vous permet de rassembler tous les éléments dont 
                                            vous avez besoin pour réaliser vos projets. C’est la 
                                            plateforme idéale qui vous permettra de concrétiser 
                                            votre projet d’entreprise. De l’idée à la réalisation 
                                            en passant par les recherches et conceptions nous sommes 
                                            là pour vous accompagner. Faites-nous confiance
                                          </p>
                                          </div>
                                      <div class="slider-image">
                                          <img src="assets/img/home/idea.jpg" width="400" height="300">
                                      </div>
                                  </div>


                            </div>
                            <div class="carousel-item">
                                 
                                  <div class="row-item">
                                      <div class="col-md-6 my-auto">
                                          <h1 class="slider-item-title">Donner vie à votre projet</h1>
                                          <p class="slider-item-text">
                                            En postant votre projet, nous nous chargeons de vérifier 
                                            vos données et d'approuver votre demande.  
                                            Notre aprobation est un  garant de la viabilité de 
                                            votre projet. Cette garantie vous ouvre plus facilement la porte des investisseurs. Ils pourront plus facilement vous accompagner.    
                                        </p>
                                          </div>
                                      <div class="col-md-6">
                                          <img src="assets/img/home/banner.jpg" width="400" height="300">
                                      </div>
                                  </div>
                            </div>
                          </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
        </div>
    </div>



</div>