
<app-saige-second-header></app-saige-second-header>
<div style="margin-top: 150px; padding-top: 100px; padding-bottom: 100px">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 mt-3">
                            <img src="" width="150" height="150"/>
                        </div>
                        <div class="col-md-9 mt-3">
                            <h3>Kondigbalè</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-9 mx-auto text-center">
                <h1 class="alert alert-danger">Contribution annulée </h1>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>