<div id="idea-steps">
    <div class="container-fluid">
        
        
        <div class="row" style="margin-top: 10vh;">
            <div class="col-md-12 text-center">
                <h1>Nous sommes là</h1>
                <p style="padding-left: 25%; padding-right: 25%">Saige est un hub de développement de projets qui vous permet de rassembler en
                    ligne les fonds dont vous avez besoin pour mener à bien vos projets. C’est le genre de plateforme qui booste votre projet d’entreprise. Faites-nous confiance.</p>
            </div>
        </div>

        <div class="row" style="margin-top: 10vh;">
            <div class="col-md-4 text-center">
                <img  src="assets/img/home/lightbulb.svg" class="rounded-image"/>
                <h2 style="color: #0061F2" class="mt-3">Idée</h2>
                <p>Soumettez à validation vos projets et obtenez des propositions et ou des apports en complément. L’avenir appartient aux hommes d’idées.</p>
            </div>
            <div class="col-md-4 text-center">
                <img  src="assets/img/home/to-do-list.svg" class="rounded-image"/>
                <h2 style="color: #0061F2" class="mt-3">Plan</h2>
                <p>Notre équipe de managers vous aide dans l’élaboration et la mise en place de votre business plan. Envoyez les ici et recevez les touches de maitre de nos experts.</p>
            </div>
            <div class="col-md-4  text-center">
                <img  src="assets/img/home/wallet.svg" class="rounded-image"/>
                <h2 style="color: #0061F2" class="mt-3">Financement</h2>
                <p>Notre communauté est votre atout. Avec une « démographie digitale » de 1.000.000 de membres, veuillez à recevoir en temps réel et avec enthousiasme les réactions</p>
            </div>
            
        </div>



    </div>
</div>