<div id="why-us">
    <div id="why-us-title">
        <h2>Pourquoi <br/> <span>nous choisir ?</span></h2>
    </div>

    <div id="why-us-content">
        <div class="why-us-conten-item">
            <div class="why-us-content-image text-center">
                <img src="assets/img/home/security_icon.svg" width="250px" height="250px"/>
                
            </div>
            <div class="why-us-content-text">
                <h2>Sécurité</h2>
                <p>
                    Nous disposons de tous les gages nécessaires pour sécuriser
                    chaque transaction, aussi minime que cela puisse paraitre. 
                    Nous disposons d’une force de gestion en matière de gestion
                    des conflits d’intérêts. Et notre communauté est l’une des
                    plus avisées et en alerte sur les tentatives de fraude ou d’arnaque.
                </p>
            </div>
        </div>

        <div class="why-us-conten-item">
            <div class="why-us-content-image">
                <img src="assets/img/home/fiability_icon.svg" width="200px" height="200px"/>
                
            </div>
            <div class="why-us-content-text" >
                <h2>Fiabilité</h2>
                <p>
                    Nos projets financés se sont distingués par leur fiabilité et leur
                    pertinence. Notre système d’évaluation de projets est l’un des plus
                    côtés en confiance et en influence.
                </p>
            </div>
        </div>

        <div class="why-us-conten-item">
            <div class="why-us-content-image">
                <img src="assets/img/home/transparency_icon.svg" width="200px" height="200px"/>
                
            </div>
            <div class="why-us-content-text" >
                <h2>Transparence</h2>
                <p>
                    Saige s’est fait remarquer auprès des investisseurs et
                    des candidats aux financements par la transparence de
                    ses procédures de financement. Tous les projets financés
                    adoptent les mêmes étapes, et sont soumis aux mêmes règles
                    de sélections. Nous adoptons un principe de traçabilité et de
                    proximité objectif.
                </p>
            </div>
        </div>

        <div class="why-us-conten-item">
            <div class="why-us-content-image">
                <img src="assets/img/home/boss_icon.svg" width="200px" height="200px"/>
                
            </div>
            <div class="why-us-content-text" >
                <h2>Professionalisme</h2>
                <p>
                    Nous nous sommes distingués par le professionnalisme des 
                    évaluateurs de projets. Les financements sont générés en 
                    fonction de la pertinence des projets
                </p>
            </div>
        </div>
    </div>
</div>