<div id="summary">
    <div id="summary-title">
        <h2>
            Nos chiffres
        </h2>
    </div>

    <div id="summary-content">
        <div class="summary-content-item">
            <p class="summary-number">
                +
                <span 
                    class="number-animate"
                    data-end-value="60"
                    data-increment="1"
                    data-duration="5000">1</span></p>

            <p class="summary-content-item-title">
                Projets publics
            </p>
        </div>

        <div class="summary-content-item">
            <p class="summary-number">
                +
                <span 
                    class="number-animate"
                    data-end-value="60"
                    data-increment="1"
                    data-duration="5000">1</span></p>

            <p class="summary-content-item-title">
                Projets d'état
            </p>
        </div>

        <div class="summary-content-item">
            <p class="summary-number">
                +
                <span 
                    class="number-animate"
                    data-end-value="60"
                    data-increment="1"
                    data-duration="5000">1</span></p>

            <p class="summary-content-item-title">
                Investisseurs
            </p>
        </div>


    </div>

</div>