<div id="why-us-block">
    <div class="container-fluid">

        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h2>Pourquoi nous choisir</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-3 text-center mt-3">
                <img src="assets/img/home/security_icon.svg" style="width: 20%;"/>
                <h5 class="skills-title mt-1">Sécurité</h5>
                <p class="text-left">
                    Nous disposons de tous les gages nécessaires pour sécuriser chaque transaction, aussi minime que cela puisse paraitre. Nous disposons d’une force de gestion en matière de gestion des conflits d’intérêts. Et notre communauté est l’une des plus avisées et en alerte sur les tentatives de fraude ou d’arnaque.
                </p>
            </div>
            <div class="col-md-3 text-center mt-3">
                <img src="assets/img/home/fiability_icon.svg" style="width: 20%;"/>
                <h5 class="skills-title mt-1">Fiabilité</h5>
                <p class="text-left">
                    <!--Nous agissons en concert dans un climat de loyauté perpétuelle. Nous mettons une confiance de fer entre nous, nos clients et notre communauté. Nous faisons un travail en amont sur nos clients qui consiste à nous enquérir de leur situation financière et de leurs objectifs d’investissement.
                    -->
                    Nous mettons une confiance entre nos entreprises partenaires, les institutions et nos investisseurs.
                    Bous faisons un travail en amont sur toutes les demandes pour la sécurisation et la validation.
                </p>
            </div>
            <div class="col-md-3 text-center mt-3">
                <img src="assets/img/home/boss_icon.svg" style="width: 20%;"/>
                <h5 class="skills-title mt-1">Professionalisme</h5>
                <p class="text-left">
                    Notre leitmotiv est une trilogie qui nous est d’ordre capital.
Nous avons bâti notre plateforme sur « la transparence, la traçabilité et la proximité ». Les projets que nous finançons sur cette plateforme sont très faciles à identifier car nous révélons la personne du bénéficiaire. C’est ainsi qu’il est plus facile de constater dans la société si le projet financé est réalisé ou non.  
                </p>
            </div>
            <div class="col-md-3 text-center mt-3">
                <img src="assets/img/home/transparency_icon.svg" style="width: 20%;"/>
                <h5 class="skills-title mt-1">Transparence</h5>
                <p class="text-left">
                    Nous formons un tandem puissant et qualifié avec nos entrepreneurs, notre communauté et nos investisseurs privées.
                    Basé sur l'éthique avec nos entrepreneurs, notre communauté et nos investisseurs
            </div>
        </div>
    </div>
 </div>