<div id="howItWorks">
    <div id="howItWorks-title">
        <h1 id="howItWorks-title-text">Comment <br/><span>ça fonctionne?</span></h1>
        <p>
            En postant votre projet, nous nous chargeons de vérifier vos données
            pour approuver votre demande dans le cas où tout est correct.
            Ainsi les investisseurs pourront intervenir dans votre projet sans
            avoir à douter.
        </p>

        <div>
            <img src="assets/img/home/steps.jpg" width="90%" height="400" id="howItWorks-image">
        </div>
    </div>
    <div id="howItWorks-content">
        <div class="howItWorks-content-item">
            <div class="howItWorks-content-item-header">
                <span class="howItWorks-content-item-header-title">Demande</span>
                <!--<span><img src="caret-down.svg" width="20" height="20"></span>-->
            </div>
            <div class="howItWorks-content-item-body">
                <p>
                    Soumettez votre projet d'entreprise
                    sur la plateforme en créant un compte
                </p>
            </div>
        </div>

        <div class="howItWorks-content-item">
            <div class="howItWorks-content-item-header">
                <span class="howItWorks-content-item-header-title">Vérification</span>
                <!--<span><img src="caret-down.svg" width="20" height="20"></span>-->
            </div>
            <div class="howItWorks-content-item-body">
                <p>
                    Notre équipe se charge de vérifier les informations founies, se charge de vous aider à corriger d'éventuelles erreurs si nécéssaires.
                </p>
            </div>
        </div>

        <div class="howItWorks-content-item">
            <div class="howItWorks-content-item-header">
                <span class="howItWorks-content-item-header-title">Approbation</span>
                <!--<span><img src="caret-down.svg" width="20" height="20"></span>-->
            </div>
            <div class="howItWorks-content-item-body">
                <p>
                    Une fois votre dossier approuvée, vous verrez votre projet se ranger
                    dans la liste des projets à jours qui attendent des investiisements
                </p>
            </div>
        </div>

        <div class="howItWorks-content-item">
            <div class="howItWorks-content-item-header">
                <span class="howItWorks-content-item-header-title">Investissements</span>
                <!--<span><img src="caret-down.svg" width="20" height="20"></span>-->
            </div>
            <div class="howItWorks-content-item-body">
                <p>
                    Une fois votre projet validé, attendez vous à reçevoir des nouvels 
                    des investisseurs.
                </p>
            </div>
        </div>


    </div>
</div>