<div id="data-container">
    

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-center">
            <h2>Mettre à jour le mot de passe</h2>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div *ngIf="isUpdating">
                            <app-sage-spinner></app-sage-spinner>
                            <p class="mt-3 text-enter">
                                Veuiller patienter...
                            </p>
                        </div>

                        <div *ngIf="hasError">
                            <p class="alert alert-danger">
                                {{ errorMessage }}
                            </p>
                        </div>

                        <div *ngIf="hasSuccess">
                            <p class="alert alert-success">
                                Mot de passe mis à jour...
                            </p>
                        </div>



                        <form [formGroup]="updatePasswordForm" class="mt-5" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="password">Ancien mot de passe</label>
                                    <input 
                                        type="password" 
                                        id="e" 
                                        class="form-control" 
                                        formControlName="password" aria-describedby="passwordHelp" placeholder="password">
                                
                                <ul *ngIf="updatePasswordForm.get('password').invalid && (updatePasswordForm.get('password').dirty || updatePasswordForm.get('password').touched)"
                                    class="alert alert-danger mt-3">
                                        <li>password invalide</li>
                                        <li *ngIf="updatePasswordForm.get('password').errors.required">
                                             mot de passe est requis
                                        </li>
                                </ul>
                                
                            </div>
                            <div class="form-group mt-5">
                                <label for="new_password">Nouveau mot de passe</label>
                                    <input 
                                        type="password" 
                                        id="new_password" 
                                        class="form-control" 
                                        formControlName="new_password" aria-describedby="new_passwordHelp" placeholder="mot de passe">
                                    
                                <ul *ngIf="updatePasswordForm.get('new_password').invalid && (updatePasswordForm.get('new_password').dirty || updatePasswordForm.get('new_password').touched)"
                                    class="alert alert-danger mt-3">
                                        <li>mot de passe invalide</li>
                                        <li *ngIf="updatePasswordForm.get('new_password').errors.required">
                                            mot de passe est requis
                                        </li>
                                        <li *ngIf="updatePasswordForm.get('new_password').errors.minLength">
                                            au moins 6 caractères
                                        </li>
        
                                </ul>
                            </div>

                            <div class="form-group">
                                <label for="new_password_confirm">Confirmer mot de passe</label>
                                    <input 
                                        type="password" 
                                        id="new_password_confirm" 
                                        class="form-control" 
                                        formControlName="new_password_confirm" aria-describedby="new_password_confirmHelp" placeholder="confirmer mot de passe">
                                    
                                <ul *ngIf="updatePasswordForm.get('new_password_confirm').invalid && (updatePasswordForm.get('new_password_confirm').dirty || updatePasswordForm.get('new_password_confirm').touched)"
                                    class="alert alert-danger mt-3">
                                        <li>mot de passe invalide</li>
                                        <li *ngIf="updatePasswordForm.get('new_password_confirm').errors.required">
                                            mot de passe est requis
                                        </li>
                                        <li *ngIf="updatePasswordForm.get('new_password_confirm').errors.minLength">
                                            au moins 6 caractères
                                        </li>
        
                                </ul>
                            </div>


                            <div class="form-group mt-5">
                                <button class="submit-btn" type="submit" [disabled]="updatePasswordForm.invalid" >Mettre à jour</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>