#how-it-works {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 20vh;
    background-color: #EFF3F9;
    padding-top: 20vh;
    padding-bottom: 20vh;
    margin-top: 40vh;
}