<div id="how-it-works">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6  text-center mt-1">
                <img  src="assets/img/home/steps.svg" style="width: 100%;"/>
            </div>

            <div class="col-md-6 mt-1">
                <h3>Qu'obtenez vous de nous?</h3>
                <p>
                    En postant votre projet avec les informations nécéssaires,
                    nous nous chargeons de vérifier vos données pour approuver
                    votre demande dans le cas où tout est coreect. Ainsi les investisseurs pourront y mettre de leurs tien 
                    dans votre projet sans avoir à douter.</p>

                 <div class="container-fluid mt-5">
                    <div class="row">
                        <div class="col-md-5 pl-0">
                            <h5>Demande</h5>
                            <p>Faites votre demande en fournussant les données
                            nécéssaires et qui sont légales.</p>
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <h5>Vérification</h5>
                            <p>Faites votre demande en fournussant les données
                            nécéssaires et qui sont légales.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 pl-0">
                            <h5>Approuvée</h5>
                            <p>Faites votre demande en fournissant les données
                            nécéssaires et qui sont légales.</p>
                        </div>
                        <div class="col-md-5 offset-md-2">
                            <h5>Investissements</h5>
                            <p>Faites votre demande en fournussant les données
                            nécéssaires et qui sont légales.</p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

</div>